@keyframes i_do_not_no {
	0% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00000.png');
	}
	2.0833% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00001.png');
	}
	4.1667% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00002.png');
	}
	6.25% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00003.png');
	}
	8.3333% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00004.png');
	}
	10.4167% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00005.png');
	}
	12.5% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00006.png');
	}
	14.5833% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00007.png');
	}
	16.6667% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00008.png');
	}
	18.75% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00009.png');
	}
	20.8333% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00010.png');
	}
	22.9167% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00011.png');
	}
	25% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00012.png');
	}
	27.0833% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00013.png');
	}
	29.1667% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00014.png');
	}
	31.25% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00015.png');
	}
	33.3333% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00016.png');
	}
	35.4167% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00017.png');
	}
	37.5% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00018.png');
	}
	39.5833% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00019.png');
	}
	41.6667% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00020.png');
	}
	43.75% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00021.png');
	}
	45.8333% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00022.png');
	}
	47.9167% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00023.png');
	}
	50% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00024.png');
	}
	52.0833% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00025.png');
	}
	54.1667% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00026.png');
	}
	56.25% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00027.png');
	}
	58.3333% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00028.png');
	}
	60.4167% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00029.png');
	}
	62.5% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00030.png');
	}
	64.5833% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00031.png');
	}
	66.6667% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00032.png');
	}
	68.75% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00033.png');
	}
	70.8333% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00034.png');
	}
	72.9167% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00035.png');
	}
	75% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00036.png');
	}
	77.0833% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00037.png');
	}
	79.1667% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00038.png');
	}
	81.25% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00039.png');
	}
	83.3333% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00040.png');
	}
	85.4167% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00041.png');
	}
	87.5% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00042.png');
	}
	89.5833% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00043.png');
	}
	91.6667% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00044.png');
	}
	93.75% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00045.png');
	}
	95.8333% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00046.png');
	}
	97.9167% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00047.png');
	}
	100% {
		background-image: url('./images/animation_images/listen_to_the_questions/Поворот_00047.png');
	}
}

@keyframes i_do_not_no_wait {
	0% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00048.png');
	}
	2.1277% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00049.png');
	}
	4.2553% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00050.png');
	}
	6.3829% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00051.png');
	}
	8.5106% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00052.png');
	}
	10.6383% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00053.png');
	}
	12.766% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00054.png');
	}
	14.8936% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00055.png');
	}
	17.0213% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00056.png');
	}
	19.1489% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00057.png');
	}
	21.2766% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00058.png');
	}
	23.4043% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00059.png');
	}
	25.5319% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00060.png');
	}
	27.6596% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00061.png');
	}
	29.7872% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00062.png');
	}
	31.9149% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00063.png');
	}
	34.0426% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00064.png');
	}
	36.1702% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00065.png');
	}
	38.2979% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00066.png');
	}
	40.4255% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00067.png');
	}
	42.5532% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00068.png');
	}
	44.6809% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00069.png');
	}
	46.8085% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00070.png');
	}
	48.9362% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00071.png');
	}
	51.0638% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00072.png');
	}
	53.1915% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00073.png');
	}
	55.3191% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00074.png');
	}
	57.4468% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00075.png');
	}
	59.5745% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00076.png');
	}
	61.7021% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00077.png');
	}
	63.8298% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00078.png');
	}
	65.9574% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00079.png');
	}
	68.0851% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00080.png');
	}
	70.2128% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00081.png');
	}
	72.3404% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00082.png');
	}
	74.4681% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00083.png');
	}
	76.5957% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00084.png');
	}
	78.7234% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00085.png');
	}
	80.8511% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00086.png');
	}
	82.9787% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00087.png');
	}
	85.1064% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00088.png');
	}
	87.234% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00089.png');
	}
	89.3617% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00090.png');
	}
	91.4894% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00091.png');
	}
	93.617% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00092.png');
	}
	95.7447% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00093.png');
	}
	97.8723% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00094.png');
	}
	100% {
		background-image: url('./images/animation_images/wait/Незнайка_поворот_00095.png');
	}
}

@keyframes i_do_not_no_hello {
	0% {
		background-image: url('./images/animation_images/hello/Final_00000.png');
	}
	1.6667% {
		background-image: url('./images/animation_images/hello/Final_00001.png');
	}
	3.3333% {
		background-image: url('./images/animation_images/hello/Final_00002.png');
	}
	5% {
		background-image: url('./images/animation_images/hello/Final_00003.png');
	}
	6.6667% {
		background-image: url('./images/animation_images/hello/Final_00004.png');
	}
	8.3333% {
		background-image: url('./images/animation_images/hello/Final_00005.png');
	}
	10% {
		background-image: url('./images/animation_images/hello/Final_00006.png');
	}
	11.6667% {
		background-image: url('./images/animation_images/hello/Final_00007.png');
	}
	13.3333% {
		background-image: url('./images/animation_images/hello/Final_00008.png');
	}
	15% {
		background-image: url('./images/animation_images/hello/Final_00009.png');
	}
	16.6667% {
		background-image: url('./images/animation_images/hello/Final_00010.png');
	}
	18.3333% {
		background-image: url('./images/animation_images/hello/Final_00011.png');
	}
	20% {
		background-image: url('./images/animation_images/hello/Final_00012.png');
	}
	21.6667% {
		background-image: url('./images/animation_images/hello/Final_00013.png');
	}
	23.3333% {
		background-image: url('./images/animation_images/hello/Final_00014.png');
	}
	25% {
		background-image: url('./images/animation_images/hello/Final_00015.png');
	}
	26.6667% {
		background-image: url('./images/animation_images/hello/Final_00016.png');
	}
	28.3333% {
		background-image: url('./images/animation_images/hello/Final_00017.png');
	}
	30% {
		background-image: url('./images/animation_images/hello/Final_00018.png');
	}
	31.6667% {
		background-image: url('./images/animation_images/hello/Final_00019.png');
	}
	33.3333% {
		background-image: url('./images/animation_images/hello/Final_00020.png');
	}
	35% {
		background-image: url('./images/animation_images/hello/Final_00021.png');
	}
	36.6667% {
		background-image: url('./images/animation_images/hello/Final_00022.png');
	}
	38.3333% {
		background-image: url('./images/animation_images/hello/Final_00023.png');
	}
	40% {
		background-image: url('./images/animation_images/hello/Final_00024.png');
	}
	41.6667% {
		background-image: url('./images/animation_images/hello/Final_00025.png');
	}
	43.3333% {
		background-image: url('./images/animation_images/hello/Final_00026.png');
	}
	45% {
		background-image: url('./images/animation_images/hello/Final_00027.png');
	}
	46.6667% {
		background-image: url('./images/animation_images/hello/Final_00028.png');
	}
	48.3333% {
		background-image: url('./images/animation_images/hello/Final_00029.png');
	}
	50% {
		background-image: url('./images/animation_images/hello/Final_00030.png');
	}
	51.6667% {
		background-image: url('./images/animation_images/hello/Final_00031.png');
	}
	53.3333% {
		background-image: url('./images/animation_images/hello/Final_00032.png');
	}
	55% {
		background-image: url('./images/animation_images/hello/Final_00033.png');
	}
	56.6667% {
		background-image: url('./images/animation_images/hello/Final_00034.png');
	}
	58.3333% {
		background-image: url('./images/animation_images/hello/Final_00035.png');
	}
	60% {
		background-image: url('./images/animation_images/hello/Final_00036.png');
	}
	61.6667% {
		background-image: url('./images/animation_images/hello/Final_00037.png');
	}
	63.3333% {
		background-image: url('./images/animation_images/hello/Final_00038.png');
	}
	65% {
		background-image: url('./images/animation_images/hello/Final_00039.png');
	}
	66.6667% {
		background-image: url('./images/animation_images/hello/Final_00040.png');
	}
	68.3333% {
		background-image: url('./images/animation_images/hello/Final_00041.png');
	}
	70% {
		background-image: url('./images/animation_images/hello/Final_00042.png');
	}
	71.6667% {
		background-image: url('./images/animation_images/hello/Final_00043.png');
	}
	73.3333% {
		background-image: url('./images/animation_images/hello/Final_00044.png');
	}
	75% {
		background-image: url('./images/animation_images/hello/Final_00045.png');
	}
	76.6667% {
		background-image: url('./images/animation_images/hello/Final_00046.png');
	}
	78.3333% {
		background-image: url('./images/animation_images/hello/Final_00047.png');
	}
	80% {
		background-image: url('./images/animation_images/hello/Final_00048.png');
	}
	81.6667% {
		background-image: url('./images/animation_images/hello/Final_00049.png');
	}
	83.3333% {
		background-image: url('./images/animation_images/hello/Final_00050.png');
	}
	85% {
		background-image: url('./images/animation_images/hello/Final_00051.png');
	}
	86.6667% {
		background-image: url('./images/animation_images/hello/Final_00052.png');
	}
	88.3333% {
		background-image: url('./images/animation_images/hello/Final_00053.png');
	}
	90% {
		background-image: url('./images/animation_images/hello/Final_00054.png');
	}
	91.6667% {
		background-image: url('./images/animation_images/hello/Final_00055.png');
	}
	93.3333% {
		background-image: url('./images/animation_images/hello/Final_00056.png');
	}
	95% {
		background-image: url('./images/animation_images/hello/Final_00057.png');
	}
	96.6667% {
		background-image: url('./images/animation_images/hello/Final_00058.png');
	}
	98.3333% {
		background-image: url('./images/animation_images/hello/Final_00059.png');
	}
	100% {
		background-image: url('./images/animation_images/hello/Final_00059.png');
	}
}

@keyframes micro {
	0% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00000.png');
	}
	0.9259% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00001.png');
	}
	1.8519% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00002.png');
	}
	2.7778% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00003.png');
	}
	3.7037% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00004.png');
	}
	4.6296% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00005.png');
	}
	5.5556% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00006.png');
	}
	6.4815% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00007.png');
	}
	7.4074% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00008.png');
	}
	8.3333% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00009.png');
	}
	9.2593% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00010.png');
	}
	10.1852% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00011.png');
	}
	11.1111% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00012.png');
	}
	12.037% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00013.png');
	}
	12.9629% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00014.png');
	}
	13.8889% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00015.png');
	}
	14.8148% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00016.png');
	}
	15.7407% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00017.png');
	}
	16.6667% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00018.png');
	}
	17.5926% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00019.png');
	}
	18.5185% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00020.png');
	}
	19.4444% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00021.png');
	}
	20.3704% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00022.png');
	}
	21.2963% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00023.png');
	}
	22.2222% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00024.png');
	}
	23.1481% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00025.png');
	}
	24.0741% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00026.png');
	}
	25% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00027.png');
	}
	25.9259% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00028.png');
	}
	26.8519% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00029.png');
	}
	27.7778% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00030.png');
	}
	28.7037% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00031.png');
	}
	29.6296% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00032.png');
	}
	30.5556% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00033.png');
	}
	31.4815% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00034.png');
	}
	32.4074% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00035.png');
	}
	33.3333% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00036.png');
	}
	34.2593% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00037.png');
	}
	35.1852% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00038.png');
	}
	36.1111% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00039.png');
	}
	37.037% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00040.png');
	}
	37.9629% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00041.png');
	}
	38.8889% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00042.png');
	}
	39.8148% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00043.png');
	}
	40.7407% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00044.png');
	}
	41.6667% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00045.png');
	}
	42.5926% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00046.png');
	}
	43.5185% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00047.png');
	}
	44.4444% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00048.png');
	}
	45.3704% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00049.png');
	}
	46.2963% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00050.png');
	}
	47.2222% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00051.png');
	}
	48.1481% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00052.png');
	}
	49.0741% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00053.png');
	}
	50% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00054.png');
	}
	50.9259% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00055.png');
	}
	51.8519% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00056.png');
	}
	52.7778% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00057.png');
	}
	53.7037% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00058.png');
	}
	54.6296% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00059.png');
	}
	55.5556% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00060.png');
	}
	56.4815% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00061.png');
	}
	57.4074% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00062.png');
	}
	58.3333% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00063.png');
	}
	59.2593% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00064.png');
	}
	60.1852% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00065.png');
	}
	61.1111% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00066.png');
	}
	62.037% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00067.png');
	}
	62.9629% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00068.png');
	}
	63.8889% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00069.png');
	}
	64.8148% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00070.png');
	}
	65.7407% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00071.png');
	}
	66.6667% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00072.png');
	}
	67.5926% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00073.png');
	}
	68.5185% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00074.png');
	}
	69.4444% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00075.png');
	}
	70.3704% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00076.png');
	}
	71.2963% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00077.png');
	}
	72.2222% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00078.png');
	}
	73.1481% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00079.png');
	}
	74.0741% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00080.png');
	}
	75% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00081.png');
	}
	75.9259% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00082.png');
	}
	76.8519% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00083.png');
	}
	77.7778% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00084.png');
	}
	78.7037% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00085.png');
	}
	79.6296% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00086.png');
	}
	80.5556% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00087.png');
	}
	81.4815% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00088.png');
	}
	82.4074% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00089.png');
	}
	83.3333% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00090.png');
	}
	84.2593% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00091.png');
	}
	85.1852% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00092.png');
	}
	86.1111% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00093.png');
	}
	87.037% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00094.png');
	}
	87.9629% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00095.png');
	}
	88.8889% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00096.png');
	}
	89.8148% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00097.png');
	}
	90.7407% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00098.png');
	}
	91.6667% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00099.png');
	}
	92.5926% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00100.png');
	}
	93.5185% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00101.png');
	}
	94.4444% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00102.png');
	}
	95.3704% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00103.png');
	}
	96.2963% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00104.png');
	}
	97.2222% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00105.png');
	}
	98.1481% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00106.png');
	}
	99.0741% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00107.png');
	}
	100% {
		background-image: url('./images/animation_images/Mic_Button/Mic_Button_00107.png');
	}
}

@keyframes bg_main {
	0% {
		background-image: url('./images/animation_images/BG_one/Main_00000.png');
	}
	0.2778% {
		background-image: url('./images/animation_images/BG_one/Main_00001.png');
	}
	0.5556% {
		background-image: url('./images/animation_images/BG_one/Main_00002.png');
	}
	0.8333% {
		background-image: url('./images/animation_images/BG_one/Main_00003.png');
	}
	1.1111% {
		background-image: url('./images/animation_images/BG_one/Main_00004.png');
	}
	1.3889% {
		background-image: url('./images/animation_images/BG_one/Main_00005.png');
	}
	1.6667% {
		background-image: url('./images/animation_images/BG_one/Main_00006.png');
	}
	1.9444% {
		background-image: url('./images/animation_images/BG_one/Main_00007.png');
	}
	2.2222% {
		background-image: url('./images/animation_images/BG_one/Main_00008.png');
	}
	2.5% {
		background-image: url('./images/animation_images/BG_one/Main_00009.png');
	}
	2.7778% {
		background-image: url('./images/animation_images/BG_one/Main_00010.png');
	}
	3.0556% {
		background-image: url('./images/animation_images/BG_one/Main_00011.png');
	}
	3.3333% {
		background-image: url('./images/animation_images/BG_one/Main_00012.png');
	}
	3.6111% {
		background-image: url('./images/animation_images/BG_one/Main_00013.png');
	}
	3.8889% {
		background-image: url('./images/animation_images/BG_one/Main_00014.png');
	}
	4.1667% {
		background-image: url('./images/animation_images/BG_one/Main_00015.png');
	}
	4.4444% {
		background-image: url('./images/animation_images/BG_one/Main_00016.png');
	}
	4.7222% {
		background-image: url('./images/animation_images/BG_one/Main_00017.png');
	}
	5% {
		background-image: url('./images/animation_images/BG_one/Main_00018.png');
	}
	5.2778% {
		background-image: url('./images/animation_images/BG_one/Main_00019.png');
	}
	5.5556% {
		background-image: url('./images/animation_images/BG_one/Main_00020.png');
	}
	5.8333% {
		background-image: url('./images/animation_images/BG_one/Main_00021.png');
	}
	6.1111% {
		background-image: url('./images/animation_images/BG_one/Main_00022.png');
	}
	6.3889% {
		background-image: url('./images/animation_images/BG_one/Main_00023.png');
	}
	6.6667% {
		background-image: url('./images/animation_images/BG_one/Main_00024.png');
	}
	6.9444% {
		background-image: url('./images/animation_images/BG_one/Main_00025.png');
	}
	7.2222% {
		background-image: url('./images/animation_images/BG_one/Main_00026.png');
	}
	7.5% {
		background-image: url('./images/animation_images/BG_one/Main_00027.png');
	}
	7.7778% {
		background-image: url('./images/animation_images/BG_one/Main_00028.png');
	}
	8.0556% {
		background-image: url('./images/animation_images/BG_one/Main_00029.png');
	}
	8.3333% {
		background-image: url('./images/animation_images/BG_one/Main_00030.png');
	}
	8.6111% {
		background-image: url('./images/animation_images/BG_one/Main_00031.png');
	}
	8.8889% {
		background-image: url('./images/animation_images/BG_one/Main_00032.png');
	}
	9.1667% {
		background-image: url('./images/animation_images/BG_one/Main_00033.png');
	}
	9.4444% {
		background-image: url('./images/animation_images/BG_one/Main_00034.png');
	}
	9.7222% {
		background-image: url('./images/animation_images/BG_one/Main_00035.png');
	}
	10% {
		background-image: url('./images/animation_images/BG_one/Main_00036.png');
	}
	10.2778% {
		background-image: url('./images/animation_images/BG_one/Main_00037.png');
	}
	10.5556% {
		background-image: url('./images/animation_images/BG_one/Main_00038.png');
	}
	10.8333% {
		background-image: url('./images/animation_images/BG_one/Main_00039.png');
	}
	11.1111% {
		background-image: url('./images/animation_images/BG_one/Main_00040.png');
	}
	11.3889% {
		background-image: url('./images/animation_images/BG_one/Main_00041.png');
	}
	11.6667% {
		background-image: url('./images/animation_images/BG_one/Main_00042.png');
	}
	11.9444% {
		background-image: url('./images/animation_images/BG_one/Main_00043.png');
	}
	12.2222% {
		background-image: url('./images/animation_images/BG_one/Main_00044.png');
	}
	12.5% {
		background-image: url('./images/animation_images/BG_one/Main_00045.png');
	}
	12.7778% {
		background-image: url('./images/animation_images/BG_one/Main_00046.png');
	}
	13.0556% {
		background-image: url('./images/animation_images/BG_one/Main_00047.png');
	}
	13.3333% {
		background-image: url('./images/animation_images/BG_one/Main_00048.png');
	}
	13.6111% {
		background-image: url('./images/animation_images/BG_one/Main_00049.png');
	}
	13.8889% {
		background-image: url('./images/animation_images/BG_one/Main_00050.png');
	}
	14.1667% {
		background-image: url('./images/animation_images/BG_one/Main_00051.png');
	}
	14.4444% {
		background-image: url('./images/animation_images/BG_one/Main_00052.png');
	}
	14.7222% {
		background-image: url('./images/animation_images/BG_one/Main_00053.png');
	}
	15% {
		background-image: url('./images/animation_images/BG_one/Main_00054.png');
	}
	15.2778% {
		background-image: url('./images/animation_images/BG_one/Main_00055.png');
	}
	15.5556% {
		background-image: url('./images/animation_images/BG_one/Main_00056.png');
	}
	15.8333% {
		background-image: url('./images/animation_images/BG_one/Main_00057.png');
	}
	16.1111% {
		background-image: url('./images/animation_images/BG_one/Main_00058.png');
	}
	16.3889% {
		background-image: url('./images/animation_images/BG_one/Main_00059.png');
	}
	16.6667% {
		background-image: url('./images/animation_images/BG_one/Main_00060.png');
	}
	16.9444% {
		background-image: url('./images/animation_images/BG_one/Main_00061.png');
	}
	17.2222% {
		background-image: url('./images/animation_images/BG_one/Main_00062.png');
	}
	17.5% {
		background-image: url('./images/animation_images/BG_one/Main_00063.png');
	}
	17.7778% {
		background-image: url('./images/animation_images/BG_one/Main_00064.png');
	}
	18.0556% {
		background-image: url('./images/animation_images/BG_one/Main_00065.png');
	}
	18.3333% {
		background-image: url('./images/animation_images/BG_one/Main_00066.png');
	}
	18.6111% {
		background-image: url('./images/animation_images/BG_one/Main_00067.png');
	}
	18.8889% {
		background-image: url('./images/animation_images/BG_one/Main_00068.png');
	}
	19.1667% {
		background-image: url('./images/animation_images/BG_one/Main_00069.png');
	}
	19.4444% {
		background-image: url('./images/animation_images/BG_one/Main_00070.png');
	}
	19.7222% {
		background-image: url('./images/animation_images/BG_one/Main_00071.png');
	}
	20% {
		background-image: url('./images/animation_images/BG_one/Main_00072.png');
	}
	20.2778% {
		background-image: url('./images/animation_images/BG_one/Main_00073.png');
	}
	20.5556% {
		background-image: url('./images/animation_images/BG_one/Main_00074.png');
	}
	20.8333% {
		background-image: url('./images/animation_images/BG_one/Main_00075.png');
	}
	21.1111% {
		background-image: url('./images/animation_images/BG_one/Main_00076.png');
	}
	21.3889% {
		background-image: url('./images/animation_images/BG_one/Main_00077.png');
	}
	21.6667% {
		background-image: url('./images/animation_images/BG_one/Main_00078.png');
	}
	21.9444% {
		background-image: url('./images/animation_images/BG_one/Main_00079.png');
	}
	22.2222% {
		background-image: url('./images/animation_images/BG_one/Main_00080.png');
	}
	22.5% {
		background-image: url('./images/animation_images/BG_one/Main_00081.png');
	}
	22.7778% {
		background-image: url('./images/animation_images/BG_one/Main_00082.png');
	}
	23.0556% {
		background-image: url('./images/animation_images/BG_one/Main_00083.png');
	}
	23.3333% {
		background-image: url('./images/animation_images/BG_one/Main_00084.png');
	}
	23.6111% {
		background-image: url('./images/animation_images/BG_one/Main_00085.png');
	}
	23.8889% {
		background-image: url('./images/animation_images/BG_one/Main_00086.png');
	}
	24.1667% {
		background-image: url('./images/animation_images/BG_one/Main_00087.png');
	}
	24.4444% {
		background-image: url('./images/animation_images/BG_one/Main_00088.png');
	}
	24.7222% {
		background-image: url('./images/animation_images/BG_one/Main_00089.png');
	}
	25% {
		background-image: url('./images/animation_images/BG_one/Main_00090.png');
	}
	25.2778% {
		background-image: url('./images/animation_images/BG_one/Main_00091.png');
	}
	25.5556% {
		background-image: url('./images/animation_images/BG_one/Main_00092.png');
	}
	25.8333% {
		background-image: url('./images/animation_images/BG_one/Main_00093.png');
	}
	26.1111% {
		background-image: url('./images/animation_images/BG_one/Main_00094.png');
	}
	26.3889% {
		background-image: url('./images/animation_images/BG_one/Main_00095.png');
	}
	26.6667% {
		background-image: url('./images/animation_images/BG_one/Main_00096.png');
	}
	26.9444% {
		background-image: url('./images/animation_images/BG_one/Main_00097.png');
	}
	27.2222% {
		background-image: url('./images/animation_images/BG_one/Main_00098.png');
	}
	27.5% {
		background-image: url('./images/animation_images/BG_one/Main_00099.png');
	}
	27.7778% {
		background-image: url('./images/animation_images/BG_one/Main_00100.png');
	}
	28.0556% {
		background-image: url('./images/animation_images/BG_one/Main_00101.png');
	}
	28.3333% {
		background-image: url('./images/animation_images/BG_one/Main_00102.png');
	}
	28.6111% {
		background-image: url('./images/animation_images/BG_one/Main_00103.png');
	}
	28.8889% {
		background-image: url('./images/animation_images/BG_one/Main_00104.png');
	}
	29.1667% {
		background-image: url('./images/animation_images/BG_one/Main_00105.png');
	}
	29.4444% {
		background-image: url('./images/animation_images/BG_one/Main_00106.png');
	}
	29.7222% {
		background-image: url('./images/animation_images/BG_one/Main_00107.png');
	}
	30% {
		background-image: url('./images/animation_images/BG_one/Main_00108.png');
	}
	30.2778% {
		background-image: url('./images/animation_images/BG_one/Main_00109.png');
	}
	30.5556% {
		background-image: url('./images/animation_images/BG_one/Main_00110.png');
	}
	30.8333% {
		background-image: url('./images/animation_images/BG_one/Main_00111.png');
	}
	31.1111% {
		background-image: url('./images/animation_images/BG_one/Main_00112.png');
	}
	31.3889% {
		background-image: url('./images/animation_images/BG_one/Main_00113.png');
	}
	31.6667% {
		background-image: url('./images/animation_images/BG_one/Main_00114.png');
	}
	31.9444% {
		background-image: url('./images/animation_images/BG_one/Main_00115.png');
	}
	32.2222% {
		background-image: url('./images/animation_images/BG_one/Main_00116.png');
	}
	32.5% {
		background-image: url('./images/animation_images/BG_one/Main_00117.png');
	}
	32.7778% {
		background-image: url('./images/animation_images/BG_one/Main_00118.png');
	}
	33.0556% {
		background-image: url('./images/animation_images/BG_one/Main_00119.png');
	}
	33.3333% {
		background-image: url('./images/animation_images/BG_one/Main_00120.png');
	}
	33.6111% {
		background-image: url('./images/animation_images/BG_one/Main_00121.png');
	}
	33.8889% {
		background-image: url('./images/animation_images/BG_one/Main_00122.png');
	}
	34.1667% {
		background-image: url('./images/animation_images/BG_one/Main_00123.png');
	}
	34.4444% {
		background-image: url('./images/animation_images/BG_one/Main_00124.png');
	}
	34.7222% {
		background-image: url('./images/animation_images/BG_one/Main_00125.png');
	}
	35% {
		background-image: url('./images/animation_images/BG_one/Main_00126.png');
	}
	35.2778% {
		background-image: url('./images/animation_images/BG_one/Main_00127.png');
	}
	35.5556% {
		background-image: url('./images/animation_images/BG_one/Main_00128.png');
	}
	35.8333% {
		background-image: url('./images/animation_images/BG_one/Main_00129.png');
	}
	36.1111% {
		background-image: url('./images/animation_images/BG_one/Main_00130.png');
	}
	36.3889% {
		background-image: url('./images/animation_images/BG_one/Main_00131.png');
	}
	36.6667% {
		background-image: url('./images/animation_images/BG_one/Main_00132.png');
	}
	36.9444% {
		background-image: url('./images/animation_images/BG_one/Main_00133.png');
	}
	37.2222% {
		background-image: url('./images/animation_images/BG_one/Main_00134.png');
	}
	37.5% {
		background-image: url('./images/animation_images/BG_one/Main_00135.png');
	}
	37.7778% {
		background-image: url('./images/animation_images/BG_one/Main_00136.png');
	}
	38.0556% {
		background-image: url('./images/animation_images/BG_one/Main_00137.png');
	}
	38.3333% {
		background-image: url('./images/animation_images/BG_one/Main_00138.png');
	}
	38.6111% {
		background-image: url('./images/animation_images/BG_one/Main_00139.png');
	}
	38.8889% {
		background-image: url('./images/animation_images/BG_one/Main_00140.png');
	}
	39.1667% {
		background-image: url('./images/animation_images/BG_one/Main_00141.png');
	}
	39.4444% {
		background-image: url('./images/animation_images/BG_one/Main_00142.png');
	}
	39.7222% {
		background-image: url('./images/animation_images/BG_one/Main_00143.png');
	}
	40% {
		background-image: url('./images/animation_images/BG_one/Main_00144.png');
	}
	40.2778% {
		background-image: url('./images/animation_images/BG_one/Main_00145.png');
	}
	40.5556% {
		background-image: url('./images/animation_images/BG_one/Main_00146.png');
	}
	40.8333% {
		background-image: url('./images/animation_images/BG_one/Main_00147.png');
	}
	41.1111% {
		background-image: url('./images/animation_images/BG_one/Main_00148.png');
	}
	41.3889% {
		background-image: url('./images/animation_images/BG_one/Main_00149.png');
	}
	41.6667% {
		background-image: url('./images/animation_images/BG_one/Main_00150.png');
	}
	41.9444% {
		background-image: url('./images/animation_images/BG_one/Main_00151.png');
	}
	42.2222% {
		background-image: url('./images/animation_images/BG_one/Main_00152.png');
	}
	42.5% {
		background-image: url('./images/animation_images/BG_one/Main_00153.png');
	}
	42.7778% {
		background-image: url('./images/animation_images/BG_one/Main_00154.png');
	}
	43.0556% {
		background-image: url('./images/animation_images/BG_one/Main_00155.png');
	}
	43.3333% {
		background-image: url('./images/animation_images/BG_one/Main_00156.png');
	}
	43.6111% {
		background-image: url('./images/animation_images/BG_one/Main_00157.png');
	}
	43.8889% {
		background-image: url('./images/animation_images/BG_one/Main_00158.png');
	}
	44.1667% {
		background-image: url('./images/animation_images/BG_one/Main_00159.png');
	}
	44.4444% {
		background-image: url('./images/animation_images/BG_one/Main_00160.png');
	}
	44.7222% {
		background-image: url('./images/animation_images/BG_one/Main_00161.png');
	}
	45% {
		background-image: url('./images/animation_images/BG_one/Main_00162.png');
	}
	45.2778% {
		background-image: url('./images/animation_images/BG_one/Main_00163.png');
	}
	45.5556% {
		background-image: url('./images/animation_images/BG_one/Main_00164.png');
	}
	45.8333% {
		background-image: url('./images/animation_images/BG_one/Main_00165.png');
	}
	46.1111% {
		background-image: url('./images/animation_images/BG_one/Main_00166.png');
	}
	46.3889% {
		background-image: url('./images/animation_images/BG_one/Main_00167.png');
	}
	46.6667% {
		background-image: url('./images/animation_images/BG_one/Main_00168.png');
	}
	46.9444% {
		background-image: url('./images/animation_images/BG_one/Main_00169.png');
	}
	47.2222% {
		background-image: url('./images/animation_images/BG_one/Main_00170.png');
	}
	47.5% {
		background-image: url('./images/animation_images/BG_one/Main_00171.png');
	}
	47.7778% {
		background-image: url('./images/animation_images/BG_one/Main_00172.png');
	}
	48.0556% {
		background-image: url('./images/animation_images/BG_one/Main_00173.png');
	}
	48.3333% {
		background-image: url('./images/animation_images/BG_one/Main_00174.png');
	}
	48.6111% {
		background-image: url('./images/animation_images/BG_one/Main_00175.png');
	}
	48.8889% {
		background-image: url('./images/animation_images/BG_one/Main_00176.png');
	}
	49.1667% {
		background-image: url('./images/animation_images/BG_one/Main_00177.png');
	}
	49.4444% {
		background-image: url('./images/animation_images/BG_one/Main_00178.png');
	}
	49.7222% {
		background-image: url('./images/animation_images/BG_one/Main_00179.png');
	}
	50% {
		background-image: url('./images/animation_images/BG_one/Main_00180.png');
	}
	50.2778% {
		background-image: url('./images/animation_images/BG_one/Main_00181.png');
	}
	50.5556% {
		background-image: url('./images/animation_images/BG_one/Main_00182.png');
	}
	50.8333% {
		background-image: url('./images/animation_images/BG_one/Main_00183.png');
	}
	51.1111% {
		background-image: url('./images/animation_images/BG_one/Main_00184.png');
	}
	51.3889% {
		background-image: url('./images/animation_images/BG_one/Main_00185.png');
	}
	51.6667% {
		background-image: url('./images/animation_images/BG_one/Main_00186.png');
	}
	51.9444% {
		background-image: url('./images/animation_images/BG_one/Main_00187.png');
	}
	52.2222% {
		background-image: url('./images/animation_images/BG_one/Main_00188.png');
	}
	52.5% {
		background-image: url('./images/animation_images/BG_one/Main_00189.png');
	}
	52.7778% {
		background-image: url('./images/animation_images/BG_one/Main_00190.png');
	}
	53.0556% {
		background-image: url('./images/animation_images/BG_one/Main_00191.png');
	}
	53.3333% {
		background-image: url('./images/animation_images/BG_one/Main_00192.png');
	}
	53.6111% {
		background-image: url('./images/animation_images/BG_one/Main_00193.png');
	}
	53.8889% {
		background-image: url('./images/animation_images/BG_one/Main_00194.png');
	}
	54.1667% {
		background-image: url('./images/animation_images/BG_one/Main_00195.png');
	}
	54.4444% {
		background-image: url('./images/animation_images/BG_one/Main_00196.png');
	}
	54.7222% {
		background-image: url('./images/animation_images/BG_one/Main_00197.png');
	}
	55% {
		background-image: url('./images/animation_images/BG_one/Main_00198.png');
	}
	55.2778% {
		background-image: url('./images/animation_images/BG_one/Main_00199.png');
	}
	55.5556% {
		background-image: url('./images/animation_images/BG_one/Main_00200.png');
	}
	55.8333% {
		background-image: url('./images/animation_images/BG_one/Main_00201.png');
	}
	56.1111% {
		background-image: url('./images/animation_images/BG_one/Main_00202.png');
	}
	56.3889% {
		background-image: url('./images/animation_images/BG_one/Main_00203.png');
	}
	56.6667% {
		background-image: url('./images/animation_images/BG_one/Main_00204.png');
	}
	56.9444% {
		background-image: url('./images/animation_images/BG_one/Main_00205.png');
	}
	57.2222% {
		background-image: url('./images/animation_images/BG_one/Main_00206.png');
	}
	57.5% {
		background-image: url('./images/animation_images/BG_one/Main_00207.png');
	}
	57.7778% {
		background-image: url('./images/animation_images/BG_one/Main_00208.png');
	}
	58.0556% {
		background-image: url('./images/animation_images/BG_one/Main_00209.png');
	}
	58.3333% {
		background-image: url('./images/animation_images/BG_one/Main_00210.png');
	}
	58.6111% {
		background-image: url('./images/animation_images/BG_one/Main_00211.png');
	}
	58.8889% {
		background-image: url('./images/animation_images/BG_one/Main_00212.png');
	}
	59.1667% {
		background-image: url('./images/animation_images/BG_one/Main_00213.png');
	}
	59.4444% {
		background-image: url('./images/animation_images/BG_one/Main_00214.png');
	}
	59.7222% {
		background-image: url('./images/animation_images/BG_one/Main_00215.png');
	}
	60% {
		background-image: url('./images/animation_images/BG_one/Main_00216.png');
	}
	60.2778% {
		background-image: url('./images/animation_images/BG_one/Main_00217.png');
	}
	60.5556% {
		background-image: url('./images/animation_images/BG_one/Main_00218.png');
	}
	60.8333% {
		background-image: url('./images/animation_images/BG_one/Main_00219.png');
	}
	61.1111% {
		background-image: url('./images/animation_images/BG_one/Main_00220.png');
	}
	61.3889% {
		background-image: url('./images/animation_images/BG_one/Main_00221.png');
	}
	61.6667% {
		background-image: url('./images/animation_images/BG_one/Main_00222.png');
	}
	61.9444% {
		background-image: url('./images/animation_images/BG_one/Main_00223.png');
	}
	62.2222% {
		background-image: url('./images/animation_images/BG_one/Main_00224.png');
	}
	62.5% {
		background-image: url('./images/animation_images/BG_one/Main_00225.png');
	}
	62.7778% {
		background-image: url('./images/animation_images/BG_one/Main_00226.png');
	}
	63.0556% {
		background-image: url('./images/animation_images/BG_one/Main_00227.png');
	}
	63.3333% {
		background-image: url('./images/animation_images/BG_one/Main_00228.png');
	}
	63.6111% {
		background-image: url('./images/animation_images/BG_one/Main_00229.png');
	}
	63.8889% {
		background-image: url('./images/animation_images/BG_one/Main_00230.png');
	}
	64.1667% {
		background-image: url('./images/animation_images/BG_one/Main_00231.png');
	}
	64.4444% {
		background-image: url('./images/animation_images/BG_one/Main_00232.png');
	}
	64.7222% {
		background-image: url('./images/animation_images/BG_one/Main_00233.png');
	}
	65% {
		background-image: url('./images/animation_images/BG_one/Main_00234.png');
	}
	65.2778% {
		background-image: url('./images/animation_images/BG_one/Main_00235.png');
	}
	65.5556% {
		background-image: url('./images/animation_images/BG_one/Main_00236.png');
	}
	65.8333% {
		background-image: url('./images/animation_images/BG_one/Main_00237.png');
	}
	66.1111% {
		background-image: url('./images/animation_images/BG_one/Main_00238.png');
	}
	66.3889% {
		background-image: url('./images/animation_images/BG_one/Main_00239.png');
	}
	66.6667% {
		background-image: url('./images/animation_images/BG_one/Main_00240.png');
	}
	66.9444% {
		background-image: url('./images/animation_images/BG_one/Main_00241.png');
	}
	67.2222% {
		background-image: url('./images/animation_images/BG_one/Main_00242.png');
	}
	67.5% {
		background-image: url('./images/animation_images/BG_one/Main_00243.png');
	}
	67.7778% {
		background-image: url('./images/animation_images/BG_one/Main_00244.png');
	}
	68.0556% {
		background-image: url('./images/animation_images/BG_one/Main_00245.png');
	}
	68.3333% {
		background-image: url('./images/animation_images/BG_one/Main_00246.png');
	}
	68.6111% {
		background-image: url('./images/animation_images/BG_one/Main_00247.png');
	}
	68.8889% {
		background-image: url('./images/animation_images/BG_one/Main_00248.png');
	}
	69.1667% {
		background-image: url('./images/animation_images/BG_one/Main_00249.png');
	}
	69.4444% {
		background-image: url('./images/animation_images/BG_one/Main_00250.png');
	}
	69.7222% {
		background-image: url('./images/animation_images/BG_one/Main_00251.png');
	}
	70% {
		background-image: url('./images/animation_images/BG_one/Main_00252.png');
	}
	70.2778% {
		background-image: url('./images/animation_images/BG_one/Main_00253.png');
	}
	70.5556% {
		background-image: url('./images/animation_images/BG_one/Main_00254.png');
	}
	70.8333% {
		background-image: url('./images/animation_images/BG_one/Main_00255.png');
	}
	71.1111% {
		background-image: url('./images/animation_images/BG_one/Main_00256.png');
	}
	71.3889% {
		background-image: url('./images/animation_images/BG_one/Main_00257.png');
	}
	71.6667% {
		background-image: url('./images/animation_images/BG_one/Main_00258.png');
	}
	71.9444% {
		background-image: url('./images/animation_images/BG_one/Main_00259.png');
	}
	72.2222% {
		background-image: url('./images/animation_images/BG_one/Main_00260.png');
	}
	72.5% {
		background-image: url('./images/animation_images/BG_one/Main_00261.png');
	}
	72.7778% {
		background-image: url('./images/animation_images/BG_one/Main_00262.png');
	}
	73.0556% {
		background-image: url('./images/animation_images/BG_one/Main_00263.png');
	}
	73.3333% {
		background-image: url('./images/animation_images/BG_one/Main_00264.png');
	}
	73.6111% {
		background-image: url('./images/animation_images/BG_one/Main_00265.png');
	}
	73.8889% {
		background-image: url('./images/animation_images/BG_one/Main_00266.png');
	}
	74.1667% {
		background-image: url('./images/animation_images/BG_one/Main_00267.png');
	}
	74.4444% {
		background-image: url('./images/animation_images/BG_one/Main_00268.png');
	}
	74.7222% {
		background-image: url('./images/animation_images/BG_one/Main_00269.png');
	}
	75% {
		background-image: url('./images/animation_images/BG_one/Main_00270.png');
	}
	75.2778% {
		background-image: url('./images/animation_images/BG_one/Main_00271.png');
	}
	75.5556% {
		background-image: url('./images/animation_images/BG_one/Main_00272.png');
	}
	75.8333% {
		background-image: url('./images/animation_images/BG_one/Main_00273.png');
	}
	76.1111% {
		background-image: url('./images/animation_images/BG_one/Main_00274.png');
	}
	76.3889% {
		background-image: url('./images/animation_images/BG_one/Main_00275.png');
	}
	76.6667% {
		background-image: url('./images/animation_images/BG_one/Main_00276.png');
	}
	76.9444% {
		background-image: url('./images/animation_images/BG_one/Main_00277.png');
	}
	77.2222% {
		background-image: url('./images/animation_images/BG_one/Main_00278.png');
	}
	77.5% {
		background-image: url('./images/animation_images/BG_one/Main_00279.png');
	}
	77.7778% {
		background-image: url('./images/animation_images/BG_one/Main_00280.png');
	}
	78.0556% {
		background-image: url('./images/animation_images/BG_one/Main_00281.png');
	}
	78.3333% {
		background-image: url('./images/animation_images/BG_one/Main_00282.png');
	}
	78.6111% {
		background-image: url('./images/animation_images/BG_one/Main_00283.png');
	}
	78.8889% {
		background-image: url('./images/animation_images/BG_one/Main_00284.png');
	}
	79.1667% {
		background-image: url('./images/animation_images/BG_one/Main_00285.png');
	}
	79.4444% {
		background-image: url('./images/animation_images/BG_one/Main_00286.png');
	}
	79.7222% {
		background-image: url('./images/animation_images/BG_one/Main_00287.png');
	}
	80% {
		background-image: url('./images/animation_images/BG_one/Main_00288.png');
	}
	80.2778% {
		background-image: url('./images/animation_images/BG_one/Main_00289.png');
	}
	80.5556% {
		background-image: url('./images/animation_images/BG_one/Main_00290.png');
	}
	80.8333% {
		background-image: url('./images/animation_images/BG_one/Main_00291.png');
	}
	81.1111% {
		background-image: url('./images/animation_images/BG_one/Main_00292.png');
	}
	81.3889% {
		background-image: url('./images/animation_images/BG_one/Main_00293.png');
	}
	81.6667% {
		background-image: url('./images/animation_images/BG_one/Main_00294.png');
	}
	81.9444% {
		background-image: url('./images/animation_images/BG_one/Main_00295.png');
	}
	82.2222% {
		background-image: url('./images/animation_images/BG_one/Main_00296.png');
	}
	82.5% {
		background-image: url('./images/animation_images/BG_one/Main_00297.png');
	}
	82.7778% {
		background-image: url('./images/animation_images/BG_one/Main_00298.png');
	}
	83.0556% {
		background-image: url('./images/animation_images/BG_one/Main_00299.png');
	}
	83.3333% {
		background-image: url('./images/animation_images/BG_one/Main_00300.png');
	}
	83.6111% {
		background-image: url('./images/animation_images/BG_one/Main_00301.png');
	}
	83.8889% {
		background-image: url('./images/animation_images/BG_one/Main_00302.png');
	}
	84.1667% {
		background-image: url('./images/animation_images/BG_one/Main_00303.png');
	}
	84.4444% {
		background-image: url('./images/animation_images/BG_one/Main_00304.png');
	}
	84.7222% {
		background-image: url('./images/animation_images/BG_one/Main_00305.png');
	}
	85% {
		background-image: url('./images/animation_images/BG_one/Main_00306.png');
	}
	85.2778% {
		background-image: url('./images/animation_images/BG_one/Main_00307.png');
	}
	85.5556% {
		background-image: url('./images/animation_images/BG_one/Main_00308.png');
	}
	85.8333% {
		background-image: url('./images/animation_images/BG_one/Main_00309.png');
	}
	86.1111% {
		background-image: url('./images/animation_images/BG_one/Main_00310.png');
	}
	86.3889% {
		background-image: url('./images/animation_images/BG_one/Main_00311.png');
	}
	86.6667% {
		background-image: url('./images/animation_images/BG_one/Main_00312.png');
	}
	86.9444% {
		background-image: url('./images/animation_images/BG_one/Main_00313.png');
	}
	87.2222% {
		background-image: url('./images/animation_images/BG_one/Main_00314.png');
	}
	87.5% {
		background-image: url('./images/animation_images/BG_one/Main_00315.png');
	}
	87.7778% {
		background-image: url('./images/animation_images/BG_one/Main_00316.png');
	}
	88.0556% {
		background-image: url('./images/animation_images/BG_one/Main_00317.png');
	}
	88.3333% {
		background-image: url('./images/animation_images/BG_one/Main_00318.png');
	}
	88.6111% {
		background-image: url('./images/animation_images/BG_one/Main_00319.png');
	}
	88.8889% {
		background-image: url('./images/animation_images/BG_one/Main_00320.png');
	}
	89.1667% {
		background-image: url('./images/animation_images/BG_one/Main_00321.png');
	}
	89.4444% {
		background-image: url('./images/animation_images/BG_one/Main_00322.png');
	}
	89.7222% {
		background-image: url('./images/animation_images/BG_one/Main_00323.png');
	}
	90% {
		background-image: url('./images/animation_images/BG_one/Main_00324.png');
	}
	90.2778% {
		background-image: url('./images/animation_images/BG_one/Main_00325.png');
	}
	90.5556% {
		background-image: url('./images/animation_images/BG_one/Main_00326.png');
	}
	90.8333% {
		background-image: url('./images/animation_images/BG_one/Main_00327.png');
	}
	91.1111% {
		background-image: url('./images/animation_images/BG_one/Main_00328.png');
	}
	91.3889% {
		background-image: url('./images/animation_images/BG_one/Main_00329.png');
	}
	91.6667% {
		background-image: url('./images/animation_images/BG_one/Main_00330.png');
	}
	91.9444% {
		background-image: url('./images/animation_images/BG_one/Main_00331.png');
	}
	92.2222% {
		background-image: url('./images/animation_images/BG_one/Main_00332.png');
	}
	92.5% {
		background-image: url('./images/animation_images/BG_one/Main_00333.png');
	}
	92.7778% {
		background-image: url('./images/animation_images/BG_one/Main_00334.png');
	}
	93.0556% {
		background-image: url('./images/animation_images/BG_one/Main_00335.png');
	}
	93.3333% {
		background-image: url('./images/animation_images/BG_one/Main_00336.png');
	}
	93.6111% {
		background-image: url('./images/animation_images/BG_one/Main_00337.png');
	}
	93.8889% {
		background-image: url('./images/animation_images/BG_one/Main_00338.png');
	}
	94.1667% {
		background-image: url('./images/animation_images/BG_one/Main_00339.png');
	}
	94.4444% {
		background-image: url('./images/animation_images/BG_one/Main_00340.png');
	}
	94.7222% {
		background-image: url('./images/animation_images/BG_one/Main_00341.png');
	}
	95% {
		background-image: url('./images/animation_images/BG_one/Main_00342.png');
	}
	95.2778% {
		background-image: url('./images/animation_images/BG_one/Main_00343.png');
	}
	95.5556% {
		background-image: url('./images/animation_images/BG_one/Main_00344.png');
	}
	95.8333% {
		background-image: url('./images/animation_images/BG_one/Main_00345.png');
	}
	96.1111% {
		background-image: url('./images/animation_images/BG_one/Main_00346.png');
	}
	96.3889% {
		background-image: url('./images/animation_images/BG_one/Main_00347.png');
	}
	96.6667% {
		background-image: url('./images/animation_images/BG_one/Main_00348.png');
	}
	96.9444% {
		background-image: url('./images/animation_images/BG_one/Main_00349.png');
	}
	97.2222% {
		background-image: url('./images/animation_images/BG_one/Main_00350.png');
	}
	97.5% {
		background-image: url('./images/animation_images/BG_one/Main_00351.png');
	}
	97.7778% {
		background-image: url('./images/animation_images/BG_one/Main_00352.png');
	}
	98.0556% {
		background-image: url('./images/animation_images/BG_one/Main_00353.png');
	}
	98.3333% {
		background-image: url('./images/animation_images/BG_one/Main_00354.png');
	}
	98.6111% {
		background-image: url('./images/animation_images/BG_one/Main_00355.png');
	}
	98.8889% {
		background-image: url('./images/animation_images/BG_one/Main_00356.png');
	}
	99.1667% {
		background-image: url('./images/animation_images/BG_one/Main_00357.png');
	}
	99.4444% {
		background-image: url('./images/animation_images/BG_one/Main_00358.png');
	}
	100% {
		background-image: url('./images/animation_images/BG_one/Main_00359.png');
	}
}
